* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    height: 80px;
    background-color: blue;
}

.menu-nav {
    width: 100%;
    min-height: 80px;
    background-color: #2C3E50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.link a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

/*main*/
._jumbotron {
    min-height: 20vh;
    background-color: #1ABC9C;
    color: white;
}

._avatar img {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    
}

._stella {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 20px;
    margin: 10px auto;
    color: white;
}

._line , ._line2 {
    width: 100px;
    height: 7px;
    background-color: white;
    border-radius: 10px;
    
}

._description {
    width: 100%;
    height: 20px;
    margin: 10px auto;
    
}
/*portfolio*/
._portfolio {
    margin-top: 40px;
    min-height: 20vh;
    background-color: white;
    color: black;
}

._port ._stella {
    color: black;
}

._line3 , ._line4 {
    width: 100px;
    height: 7px;
    background-color: black;
    border-radius: 10px;
}

._card {
    height: 300px;
    width: 100%;
    padding: 10px;
}

._card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
/*about*/
._about {
    min-height: 30vh;
    background-color: #1ABC9C;
    color: white;
}

.btn {
    border-color: white;
}

.p-2 {
    text-align: start;
    border-bottom: 1px solid black;
    background-color: white;
}

._content {
    width: 100%;
    height: 200px;
}

._title4 {
    margin-top: 40px;
}

._star2 {
    color: black;
}

._content2 {
    width: 100%;
    height: 40px;
    margin: 70px auto;
    background-color: white;
}

._btn2 {
    text-align: start;
    border-top: 1px solid black;
    padding: 10px;
}

/*Footer*/

._adress {
    min-height: 20vh;
    background-color: #3A546D;
    color: white;
}


._copyright {background: #2C3E50;}
._copyright span { font-size: small;
color: white;}

